body{
    background-image: "website2.jpeg";
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    
}

.logo{
      color: black;
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      color: aqua;
      
      
}

header{
    border: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;   
    background-color: teal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    border-radius: 10px;
}

.menu>ul{
    align-items:center ;
    display: flex;
}
.menu>ul>li{
    list-style-type: none;
    padding-left: 30px;
}

a{
  color: rgb(0, 0, 0);  
  text-decoration: wavy;
}

a:hover{
    color:rgb(2, 255, 255);
}
.active{
    color:rgb(0, 255, 255);
}

.logoimg{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border:5px;
    border-color: aqua;
    border-style: solid;
    
}

.wargarsfamily{
    height: 700px;
    width: 1200px;
    border: 10px;
    border-radius: 10px;
    border-style: solid;
}

h1{
    color: aqua;
    font-family:sans-serif;
    font-style: italic;
}
.thankpage{
padding: 50px;
border: 10px;
background: black;
border-radius:2px;
border-style: solid;
border-color: aqua;
}

P{
    color: white;
    font-style: italic;
    font-size: 30px;
}




